*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #e7f7d1;
    color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 70px;
    margin: 30px 60px;
    border: 5px solid black;
    border-radius: 20px;
}

.stopwatch{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 11px 58px;
    border-radius: 30px;
    border: 3px solid lime;
    cursor: pointer;
}

.timerDisplay{
    font-size: 50px;
    font-weight: 600;
}

.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 30px;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

footer span {
    margin: 10px 20px;
    font-size: 14px;
    padding: 20px;
    text-decoration: double;
    color: black;
    font-weight: 500;
}